<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body
    style="font-family: Arial, sans-serif; text-align: center; padding: 20px"
  >
    <h2>welcom</h2>
    <p>To Verify Your Email Please Enter This Code :</p>
    <div
      style="
        background-color: #f3f4f6;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 5px;
        color: #333;
        display: inline-block;
        border-radius: 5px;
      "
    >
      {{ otp }}
    </div>

    <p style="color: #888; font-size: 12px; margin-top: 20px">
      From EduTrack 🏫🖋️
    </p>
  </body>
</html>
